body {
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo {
    font-size: 22px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
    margin-left: 6%;
}

.logo:hover a {
    color: rgba(1, 129, 63, 1);
}

a {
    text-decoration: none;
}

.header-links {
    color: rgba(255, 255, 255, 1);
}

.navbar {
    display: flex;
    align-items: center;
    margin: 0 10%;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    line-height: 14px;
}


.svg-img {
    margin: 0 20px;
    cursor: pointer;
}

.line {
    width: 1px;
    height: 19px;
    opacity: 0.5;
    background-color: rgba(255, 255, 255, 1);
    margin-left: 20px;
    margin-right: 20px;
}

.welcome-text {
    color: rgba(255, 255, 255, 1);
}

.header-links:hover {
    color: rgba(1, 129, 63, 1);
}

.svg-img:hover path {
    fill: rgba(1, 129, 63, 1);
}

main {
    justify-content: center;
    align-items: center;
}

.sigh-up_form {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sigh-up_form::after{
    content: "";
    height: 18px;
    width: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 29px;
}

.form {
    width: 100%;
    max-width: 324px;
    padding-left: 60px;
    padding-right: 60px;
    margin: auto auto;
    background-color: white;
    position: relative;
}


.form_header {
    display: flex;
    justify-content: space-between;
    padding-top: 31px;
    padding-bottom: 15px;
}

.text-left {
    font-size: 20px;
    line-height: 20px;
    color: rgba(67, 67, 67, 1);
}

.text-right {
    font-size: 14px;
    line-height: 14px;
    color: rgba(60, 184, 120, 1);
}

.text-right:hover {
    text-decoration: underline;
}

.button{
    display: inline-block;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    padding-top: 17px;
    padding-bottom: 17px;
    box-sizing: border-box;
}

.btn-fb {
    background-color: #305DB8;
    padding-left: 67px;
    padding-right: 22px;
    cursor: pointer;
}

.btn-fb::before, .btn-google::before {
    content: "";
    width: 1px;
    height: 28px;
    background-color: #0A162F;
    opacity: 0.1;
    position: absolute;
    top: 10px;
    left: 48px;
}

.btn-fb:hover {
    background: rgba(2, 34, 99, 1);
}

.fb-icon {
    position: absolute;
    left: 16.77px;
    top: 12px;
}

.btn-google {
    background-color: #DF4A32;
    padding-left: 80px;
    padding-right: 27px;
    cursor: pointer;
}

.btn-google:hover {
    background:rgba(171, 31, 9, 1)
}

.google-icon {
    position: absolute;
    left: 12px;
    top: 15px;
}



.or {
    padding-top: 31px;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    text-align: center;
}

.or::before, .or:after{
    content: "";
    width: 152px;
    border-bottom: 1px solid #F2F2F2;
    position: absolute;
}

.or::before {
    top: 154.5px;
    left: 60px;
}

.or:after{
    top: 155px;
    right: 63px;
}


.input-text{
    color: #434343;
    width: 324px;
    height: 44px;
    margin: 11px 0px;
    text-indent: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    background: #FFFFFF;
    outline: none;
    appearance: none;
    border-radius: 4px;
    color: #333;
}
.input-text:focus{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}


.inputs{
    margin-top: 11px;
}
.input-text:first-child{
    margin-top: 0px;
}
.terms{
    margin-top: 12px;
}
.checkbox{
    display: none;
}
.fake-checkbox{
    height: 20px;
    width: 20px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #F2F2F2;
    margin-right: 8px;
    position: relative;
}
.fake-checkbox::before{
    content: url(../images/Vector\ 1.svg);
    top: 2px;
    left: 2px;
    position: absolute;
    opacity: 0;
    transition: 0.2s;
}

.checkbox:checked + .fake-checkbox::before{
    opacity: 1;
}

.checkbox-text{
    font-size: 14px;
    line-height: 14px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
}
.checkbox-terms{
    display: flex;
    align-items: center;
}

.btn-green{
    background-color: #3CB878;
    opacity: 80%;
    width: 100%;
    text-align: center;
    margin: 20px 0px 38px;
    cursor: pointer;
    border: 0;

}
.btn-green:hover{
    background-color: #01813F;
    transition: 0.5s;
}
.submit:focus{
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    outline: none;
    appearance: none;
    border: none;
    border-style: hidden;
}
.submit{
    outline: none;
    outline-offset: 0;
    box-shadow: none;
    outline: none;
    appearance: none;
    border: none;
    border-style: hidden;
}